@import "variable";

.hutan-ecosystem-card {
  width: calc(var(--hutanEcosystemCardScale) * 238px);
  height: calc(var(--hutanEcosystemCardScale) * 374px);
  margin: 5px;
  position: relative;

  .hutan-ecosystem-card-wrapper {
    scale: var(--hutanEcosystemCardScale);
    transform-origin: top left;
    width: 230px;
    height: 366px;
    background-image: url("img/ecosystems-cards.jpg");
    background-size: 700% 400%;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 1px black;
    border: 4px solid white;
  }

  @for $i from 0 to 25 {
    &[data-id="#{$i}"] .hutan-ecosystem-card-wrapper {
      background-position-x: ($i % 7) * 100% / 6;
      background-position-y: (($i - ($i % 7)) / 7) * 100% / 3;
    }
  }
}

.card-tooltip {
  display: flex;
  flex-wrap: wrap;
  --hutanFlowerCardScale: 0.7;
  --hutanEcosystemCardScale: 0.7;

  .tooltip-text {
    margin-left: 10px;

    h2 {
      text-decoration: underline;
    }

    p {
      max-width: 200px;
    }
  }
}
