.icon-container {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.08em;
  font-size: 1em;
}

/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////

@mixin icon-animal-cassowary {
  background: url("img/icons.png") no-repeat;
  background-position: 11.891891891891893% 40.31476997578692%;
  background-size: 1034.3434343434344%;
  aspect-ratio: 198 / 198;
}
@mixin icon-animal-hornbill {
  background: url("img/icons.png") no-repeat;
  background-position: 23.675675675675674% 40.31476997578692%;
  background-size: 1034.3434343434344%;
  aspect-ratio: 198 / 198;
}
@mixin icon-animal-orangutan {
  background: url("img/icons.png") no-repeat;
  background-position: 35.45945945945946% 40.31476997578692%;
  background-size: 1034.3434343434344%;
  aspect-ratio: 198 / 198;
}
@mixin icon-animal-rhinoceros {
  background: url("img/icons.png") no-repeat;
  background-position: 47.24324324324324% 40.31476997578692%;
  background-size: 1034.3434343434344%;
  aspect-ratio: 198 / 198;
}
@mixin icon-animal-tiger {
  background: url("img/icons.png") no-repeat;
  background-position: 59.027027027027025% 40.31476997578692%;
  background-size: 1034.3434343434344%;
  aspect-ratio: 198 / 198;
}
@mixin icon-flower-black {
  background: url("img/icons.png") no-repeat;
  background-position: 70.8108108108108% 40.31476997578692%;
  background-size: 1034.3434343434344%;
  aspect-ratio: 198 / 198;
}
@mixin icon-flower-blue {
  background: url("img/icons.png") no-repeat;
  background-position: 82.5945945945946% 40.31476997578692%;
  background-size: 1034.3434343434344%;
  aspect-ratio: 198 / 198;
}
@mixin icon-flower-joker {
  background: url("img/icons.png") no-repeat;
  background-position: 97.54697286012527% 2.232142857142857%;
  background-size: 1551.5151515151515%;
  aspect-ratio: 132 / 128;
}
@mixin icon-flower-red {
  background: url("img/icons.png") no-repeat;
  background-position: 94.37837837837839% 40.31476997578692%;
  background-size: 1034.3434343434344%;
  aspect-ratio: 198 / 198;
}
@mixin icon-flower-white {
  background: url("img/icons.png") no-repeat;
  background-position: 1.0810810810810811% 67.79661016949152%;
  background-size: 1034.3434343434344%;
  aspect-ratio: 198 / 198;
}
@mixin icon-flower-yellow {
  background: url("img/icons.png") no-repeat;
  background-position: 12.864864864864863% 67.79661016949152%;
  background-size: 1034.3434343434344%;
  aspect-ratio: 198 / 198;
}
@mixin icon-nok {
  background: url("img/icons.png") no-repeat;
  background-position: 93.91959798994975% 17.391304347826086%;
  background-size: 3531.0344827586205%;
  aspect-ratio: 58 / 58;
}
@mixin icon-ok {
  background: url("img/icons.png") no-repeat;
  background-position: 97.8391959798995% 17.391304347826086%;
  background-size: 3531.0344827586205%;
  aspect-ratio: 58 / 58;
}
@mixin icon-paw {
  background: url("img/icons.png") no-repeat;
  background-position: 78.37837837837837% 2.4539877300613497%;
  background-size: 1034.3434343434344%;
  aspect-ratio: 198 / 209;
}
@mixin icon-player {
  background: url("img/icons.png") no-repeat;
  background-position: 67.49116607773851% 58.21205821205822%;
  background-size: 3056.7164179104475%;
  aspect-ratio: 67 / 62;
}
@mixin icon-tree {
  background: url("img/icons.png") no-repeat;
  background-position: 66.64867781975175% 2.484472049689441%;
  background-size: 1050.2564102564102%;
  aspect-ratio: 195 / 219;
}
@mixin icon-tree-1 {
  background: url("img/icons.png") no-repeat;
  background-position: 12.004287245444802% 2.73224043715847%;
  background-size: 1125.2747252747254%;
  aspect-ratio: 182 / 292;
}
@mixin icon-tree-2 {
  background: url("img/icons.png") no-repeat;
  background-position: 1.0729613733905579% 2.7359781121751023%;
  background-size: 1113.0434782608695%;
  aspect-ratio: 184 / 293;
}
@mixin icon-tree-3 {
  background: url("img/icons.png") no-repeat;
  background-position: 22.89091886082751% 2.635046113306983%;
  background-size: 1095.187165775401%;
  aspect-ratio: 187 / 265;
}
@mixin icon-tree-4 {
  background: url("img/icons.png") no-repeat;
  background-position: 33.9046598821639% 2.631578947368421%;
  background-size: 1131.4917127071822%;
  aspect-ratio: 181 / 264;
}
@mixin icon-tree-5 {
  background: url("img/icons.png") no-repeat;
  background-position: 44.670594536689876% 2.5412960609911055%;
  background-size: 1131.4917127071822%;
  aspect-ratio: 181 / 237;
}
@mixin icon-tree-6 {
  background: url("img/icons.png") no-repeat;
  background-position: 55.406852248394% 2.5380710659898478%;
  background-size: 1137.7777777777778%;
  aspect-ratio: 180 / 236;
}
@mixin icon-tree-7 {
  background: url("img/icons.png") no-repeat;
  background-position: 1.070663811563169% 40.758873929008566%;
  background-size: 1137.7777777777778%;
  aspect-ratio: 180 / 207;
}
@mixin icon-tree-8 {
  background: url("img/icons.png") no-repeat;
  background-position: 89.34118907337975% 2.450980392156863%;
  background-size: 1131.4917127071822%;
  aspect-ratio: 181 / 208;
}
@mixin icon-zone-2 {
  background: url("img/icons.png") no-repeat;
  background-position: 72.3209751142712% 56.91056910569105%;
  background-size: 2592.4050632911394%;
  aspect-ratio: 79 / 40;
}
@mixin icon-zone-3I {
  background: url("img/icons.png") no-repeat;
  background-position: 78.87105126877265% 56.91056910569105%;
  background-size: 1750.4273504273506%;
  aspect-ratio: 117 / 40;
}
@mixin icon-zone-3L {
  background: url("img/icons.png") no-repeat;
  background-position: 36.97308278313865% 59.19661733615222%;
  background-size: 2592.4050632911394%;
  aspect-ratio: 79 / 78;
}
@mixin icon-zone-4L {
  background: url("img/icons.png") no-repeat;
  background-position: 42.82755049197307% 59.19661733615222%;
  background-size: 1750.4273504273506%;
  aspect-ratio: 117 / 78;
}
@mixin icon-zone-4O {
  background: url("img/icons.png") no-repeat;
  background-position: 48.9588623666836% 59.19661733615222%;
  background-size: 2592.4050632911394%;
  aspect-ratio: 79 / 78;
}
@mixin icon-zone-4S {
  background: url("img/icons.png") no-repeat;
  background-position: 55.049197307094765% 59.19661733615222%;
  background-size: 1750.4273504273506%;
  aspect-ratio: 117 / 78;
}
@mixin icon-zone-4T {
  background: url("img/icons.png") no-repeat;
  background-position: 62.14396685655102% 59.19661733615222%;
  background-size: 1750.4273504273506%;
  aspect-ratio: 117 / 78;
}
@mixin icon-zone-5L {
  background: url("img/icons.png") no-repeat;
  background-position: 23.60248447204969% 61.742006615215%;
  background-size: 1765.5172413793102%;
  aspect-ratio: 116 / 117;
}
@mixin icon-zone-5S {
  background: url("img/icons.png") no-repeat;
  background-position: 30.641821946169774% 61.742006615215%;
  background-size: 1765.5172413793102%;
  aspect-ratio: 116 / 117;
}

.brass-icon {
  background: url("img/icons.png");
  background-repeat: no-repeat;

  &.icon-animal-cassowary {
    @include icon-animal-cassowary;
  }

  &.icon-animal-hornbill {
    @include icon-animal-hornbill;
  }

  &.icon-animal-orangutan {
    @include icon-animal-orangutan;
  }

  &.icon-animal-rhinoceros {
    @include icon-animal-rhinoceros;
  }

  &.icon-animal-tiger {
    @include icon-animal-tiger;
  }

  &.icon-flower-black {
    @include icon-flower-black;
  }

  &.icon-flower-blue {
    @include icon-flower-blue;
  }

  &.icon-flower-joker {
    @include icon-flower-joker;
  }

  &.icon-flower-red {
    @include icon-flower-red;
  }

  &.icon-flower-white {
    @include icon-flower-white;
  }

  &.icon-flower-yellow {
    @include icon-flower-yellow;
  }

  &.icon-nok {
    @include icon-nok;
  }

  &.icon-ok {
    @include icon-ok;
  }

  &.icon-paw {
    @include icon-paw;
  }

  &.icon-player {
    @include icon-player;
  }

  &.icon-tree {
    @include icon-tree;
  }

  &.icon-tree-1 {
    @include icon-tree-1;
  }

  &.icon-tree-2 {
    @include icon-tree-2;
  }

  &.icon-tree-3 {
    @include icon-tree-3;
  }

  &.icon-tree-4 {
    @include icon-tree-4;
  }

  &.icon-tree-5 {
    @include icon-tree-5;
  }

  &.icon-tree-6 {
    @include icon-tree-6;
  }

  &.icon-tree-7 {
    @include icon-tree-7;
  }

  &.icon-tree-8 {
    @include icon-tree-8;
  }

  &.icon-zone-2 {
    @include icon-zone-2;
  }

  &.icon-zone-3I {
    @include icon-zone-3I;
  }

  &.icon-zone-3L {
    @include icon-zone-3L;
  }

  &.icon-zone-4L {
    @include icon-zone-4L;
  }

  &.icon-zone-4O {
    @include icon-zone-4O;
  }

  &.icon-zone-4S {
    @include icon-zone-4S;
  }

  &.icon-zone-4T {
    @include icon-zone-4T;
  }

  &.icon-zone-5L {
    @include icon-zone-5L;
  }

  &.icon-zone-5S {
    @include icon-zone-5S;
  }
}
